/* Estilos generales */
html {
  max-width: 100%;
  overflow-x: hidden;
}
.custom-hr {
  width: 60%;
  margin: 20px auto; /* Ajusta el margen según tus preferencias */
  border-color: #ffffff; /* Cambia el color de la línea si lo deseas */
  border-width: 1px; /* Ajusta el grosor de la línea si lo deseas */
}
.grayscale-img {
  
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;

  /* These are ADDITIONAL styles - add them if you want an object exactly like in the demo above */
  width: 370px;
  height: 370px;
  background: #ad5389;
  background: -webkit-linear-gradient(
      to right,
      #3c1053,
      #ad5389
  );
  background: linear-gradient(
      to right,
      #3c1053,
      #ad5389
  );

}

body {
  background-color: #000000;
  background-image: 
    radial-gradient(at 47% 33%, #a817b5 0, transparent 59%), 
    radial-gradient(at 82% 65%, #a23f3f 0, transparent 55%);
  font-family: 'Questrial', sans-serif;
}

.carousel-img {
  max-height: 200px;
  object-fit: contain;
  border-radius: 10px;
}
.nav-hover-custom:hover{
  color: #9917b5;
  background-color: #fff;
  border-radius: 10px;
}
#menuBurger{
  color: #fff;
}
.testimonial-card .card-up {
  height: 120px;
  overflow: hidden;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}
.centered-div {
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.aqua-gradient {
  background: linear-gradient(40deg, #2096ff, #05ffa3) !important;
}

.testimonial-card .avatar {
  width: 120px;
  margin-top: -60px;
  overflow: hidden;
  border: 5px solid #fff;
  border-radius: 50%;
}

.glass-card {
  backdrop-filter: blur(2px) saturate(180%);
  -webkit-backdrop-filter: blur(2px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.52);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);

}

.navbar-glass {
  backdrop-filter: blur(2px) saturate(200%);
  -webkit-backdrop-filter: blur(2px) saturate(200%);
  background-color: rgba(17, 25, 40, 0.52);
  border: 1px solid rgba(255, 255, 255, 0.125);
  color: #fff;
}

.navbar-glass .nav-link {
  color: #fff;
}

.img-round {
  border-radius: 100px;
}

.list-icons i {
  font-size: 60px;
}

.footer-container {
  background-color: #9917b5;
}

/* Estilos para el postcard */
.postcard {
  flex-wrap: wrap;
  display: flex;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  border-radius: 10px;
  margin: 0 0 2rem 0;
  overflow: hidden;
  position: relative;
  color: #ffffff;
}

.postcard.dark {
  background-color: #18151f;
}

.postcard.light {
  background-color: #e1e5ea;
}

.t-dark {
  color: #18151f;
}

a {
  color: inherit;
}

h1, .h1 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.small {
  font-size: 80%;
}

.postcard__title {
  font-size: 1.75rem;
}

.postcard__img {
  max-height: 180px;
  width: 100%;
  
  object-fit: cover;
  position: relative;
}

.postcard__img_link {
  display: contents;
}

.postcard__bar {
  width: 50px;
  height: 10px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #424242;
  transition: width 0.2s ease;
}

.postcard__text {
  padding: 1.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

.postcard__preview-txt {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
  height: 100%;
}

.postcard__tagbox {
  display: flex;
  flex-flow: row wrap;
  font-size: 14px;
  margin: 20px 0 0 0;
  padding: 0;
  justify-content: center;
}

.postcard__tagbox .tag__item {
  display: inline-block;
  background: rgba(83, 83, 83, 0.4);
  border-radius: 3px;
  padding: 2.5px 10px;
  margin: 0 5px 5px 0;
  cursor: default;
  user-select: none;
  transition: background-color 0.3s;
}

.postcard__tagbox .tag__item:hover {
  background: rgba(83, 83, 83, 0.8);
}

.postcard:hover .postcard__bar {
  width: 100px;
}

@media screen and (min-width: 769px) {
  .postcard {
    flex-wrap: inherit;
  }

  .postcard__title {
    font-size: 2rem;
  }

  .postcard__tagbox {
    justify-content: start;
  }

  .postcard__img {
    max-width: 300px;
    max-height: 100%;
    transition: transform 0.3s ease;
  }

  .postcard__text {
    padding: 3rem;
    width: 100%;
  }

  .postcard__text:before {
    content: "";
    position: absolute;
    display: block;
    top: -20%;
    height: 130%;
    width: 55px;
  }

  .postcard:hover .postcard__img {
    transform: scale(1.1);
  }

  .postcard:nth-child(2n+1) {
    flex-direction: row;
  }

  .postcard:nth-child(2n+0) {
    flex-direction: row-reverse;
  }

  .postcard:nth-child(2n+1) .postcard__text::before {
    left: -12px !important;
    transform: rotate(4deg);
  }

  .postcard:nth-child(2n+0) .postcard__text::before {
    right: -12px !important;
    transform: rotate(-4deg);
  }
}

@media screen and (min-width: 1024px) {
  .postcard__text {
    padding: 2rem 3.5rem;
  }

  .postcard__text:before {
    content: "";
    position: absolute;
    display: block;
    top: -20%;
    height: 130%;
    width: 55px;
  }

  .postcard.dark .postcard__text:before {
    background: #18151f;
  }

  .postcard.light .postcard__text:before {
    background: #e1e5ea;
  }
}
.triangle {
  position: relative;
  background: #2c3e50;
  height: 50vh;
}

.triangle::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 52px 52px 0 52px;
  border-color: #2c3e50 transparent transparent transparent;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
}

#hero-portada{
  margin-top: 70px;
}
@media screen and (max-width: 767px) {
  .glass-card {
    
    margin-left: 150px;
    
  }
 .boton-cv{
  margin-left: 150px;
 }
}
@media screen and (max-width: 991px) {
  .glass-card {
    
    margin-left: 250px;
    
  }


  .grayscale-img{
    margin-left: 100px;
    
    
  }
 .boton-cv{
  margin-left: 250px;
 }
}
@media screen and (max-width: 575px) {
  .glass-card {
    
    margin-left: 50px;
    
  }
  .grayscale-img{
    margin-left: 30px;
  }
 .boton-cv{
  margin-left: 100px;
 }
}
.card:hover {
  transform: scale(1.05); /* Ajusta el valor para el nivel de zoom deseado */
  transition: transform 0.2s ease-in-out; /* Ajusta el valor para cambiar la velocidad de la animación */
  box-shadow: 10px 10px 18px -5px rgba(153,23,181,1);
}
@keyframes floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px); /* Altura máxima del "floating" */
  }
  100% {
    transform: translateY(0);
  }
}

.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  font-size: 24px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 999;
  transition: transform 0.2s ease-in-out;
  animation: floating 3s infinite;
}

.whatsapp-float:hover {
  background-color: #fff;
  transform: scale(1.1);
  color: #25d366;
  transform: scale(1.1) rotate(-5deg);
  transition: transform 0.2s ease-in-out;
  
}
.custom-input {
  max-width: 700px; 
}

#card-contacto{
  max-width: 500px; 
  
}